.style-template-light {
  background-color: var(--bs-light);

  .generator-cell-label {
    background: var(--bs-yellow);
  }

  a {
    color: var(--bs-yellow);

    :hover {
      text-decoration: underline;
    }
  }
}
